body {
  background: rgb(59, 59, 59);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: greenyellow;
  outline: 1px solid rgb(27, 240, 3);
}
