.current-title-container {
  display: flex;
  justify-content: center;
  margin: 8px;
}

.current-title {
  color: rgb(252, 143, 0);
  font-family: monospace;
}

.currentList-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.mid-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.inner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 16px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  background: rgb(101, 145, 80);
  box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
  height: 100vh;
}

.current-butt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(252, 143, 0);
  padding: 8px;
  font-family: monospace;
  border-radius: 5%;
  text-decoration-line: none;
  background-color: rgb(39, 73, 66);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: 3px;
  width: 150px;
  height: 50px;
}
.current-butt:hover {
  background-color: greenyellow;
  color: rgb(119, 0, 255);
}

#hiz-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(252, 143, 0);
  padding: 8px;
  font-family: monospace;
  border-radius: 5%;
  text-decoration-line: none;
  background-color: rgb(39, 73, 66);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: 3px;
  width: 150px;
  height: 50px;
}
#hiz-button:hover {
  background-color: greenyellow;
  color: rgb(119, 0, 255);
}

.list-cards {
  width: 300px;
  height: 460px;
  overflow-y: scroll;
}
.list-cards::-webkit-scrollbar {
  width: 8px;
}

.list-cards::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.list-cards::-webkit-scrollbar-thumb {
  background-color: greenyellow;
  outline: 1px solid rgba(112, 128, 144, 0);
}

.list-nav-butt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.list-history {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media print {
  .current-title-container,
  .current-butt,
  .header-container,
  .list-history {
    display: none;
  }
  .list-cards {
    display: flex;

    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    /* width: 300px;
    height: 460px; */
    overflow: visible;
  }
}
