.current-title-container {
  display: flex;
  justify-content: center;
  margin: 8px;
}

.current-title {
  color: rgb(252, 143, 0);
}

.currentList-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 16px;
}

.current-butt {
  display: flex;
  justify-content: center;
  color: rgb(252, 143, 0);
  padding: 8px;
  font-family: monospace;
  border-radius: 5%;
  text-decoration-line: none;
  background-color: rgb(39, 73, 66);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  margin: 3px;
  /* width: 10%; */
}
.current-butt:hover {
  background-color: greenyellow;
  color: rgb(119, 0, 255);
}

@media print {
  .current-title-container,
  .current-butt,
  .header-container {
    display: none;
  }
}
