.history-container {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-self: center;
}
.history-button-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 320px;
  height: 460px;
  overflow-y: scroll;
}

.history-button-panel::-webkit-scrollbar {
  width: 8px;
}

.history-button-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.history-button-panel::-webkit-scrollbar-thumb {
  background-color: greenyellow;
  outline: 1px solid rgba(112, 128, 144, 0);
}
