.single-ingredient-container {
  display: flex;
  justify-content: center;
}

.ingredient-container {
  margin: 8px;
}

.single-ingredient-card {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  background: rgb(101, 145, 80);
  box-shadow: 0 2px 8px greenyellow;
  border: 5px solid rgb(78, 116, 56);
  width: 28%;
  padding: 5px;
}

.ingredient-name {
  display: flex;
  font-size: 22px;
}

.single-ingredient-card:focus {
  background: rgb(252, 143, 0);
}
