.single-ingredient-container {
  display: flex;
  justify-content: center;
}

.ingredient-container {
  margin: 8px;
}

.single-ingredient-card {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  background: rgb(101, 145, 80);
  box-shadow: 0 2px 8px greenyellow;
  border: 5px solid rgb(78, 116, 56);
  width: 28%;
  padding: 5px;
}

.ingredient-name {
  display: flex;
  font-size: 22px;
}

.single-ingredient-selected {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  background: rgb(252, 143, 0);
  box-shadow: 0 2px 8px rgb(255, 217, 47);
  border: 5px solid rgb(179, 107, 0);
  width: 28%;
  padding: 5px;
}

.outermost {
  display: flex;
  justify-content: center;
  margin: 15px;
}

@media print {
  .single-ingredient-card {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    flex-direction: row;
    background: none;
    box-shadow: none;
    border: none;
    width: 28%;
    padding: 5px;
  }
  .single-ingredient-container {
    display: flex;
    justify-content: flex-start;
  }
}
